<img alt="">
<form>
	<img>
	<input type="file" name="picture">
	<div>
		<h3>Settings</h3>
		Size: x:<input type="number" name="x" min="100" max="1000">
		y:<input type="number" name="y" min="100" max="1000"><br>
		Number of colors: <input type="number" name="colors" min="1" max="100"><br>
		Filter: <select name="filter">
			<option name="filter" value="no">No filters</option>
			<option name="filter" value="filter1">Filter1</option>
		</select><br>
		Smootching: <input type="number" name="smootching" min="0" max="100">%
	</div>
</form>
